In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv(r"(DailyDelhiClimateTrain.csv)dataset location for training the model")

In [3]:
data

            date   meantemp    humidity  wind_speed  meanpressure
0     2013-01-01  10.000000   84.500000    0.000000   1015.666667
1     2013-01-02   7.400000   92.000000    2.980000   1017.800000
2     2013-01-03   7.166667   87.000000    4.633333   1018.666667
3     2013-01-04   8.666667   71.333333    1.233333   1017.166667
4     2013-01-05   6.000000   86.833333    3.700000   1016.500000
...          ...        ...         ...         ...           ...
1457  2016-12-28  17.217391   68.043478    3.547826   1015.565217
1458  2016-12-29  15.238095   87.857143    6.000000   1016.904762
1459  2016-12-30  14.095238   89.666667    6.266667   1017.904762
1460  2016-12-31  15.052632   87.000000    7.325000   1016.100000
1461  2017-01-01  10.000000  100.000000    0.000000   1016.000000

[1462 rows x 5 columns]

In [4]:
data.info

<bound method DataFrame.info of             date   meantemp    humidity  wind_speed  meanpressure
0     2013-01-01  10.000000   84.500000    0.000000   1015.666667
1     2013-01-02   7.400000   92.000000    2.980000   1017.800000
2     2013-01-03   7.166667   87.000000    4.633333   1018.666667
3     2013-01-04   8.666667   71.333333    1.233333   1017.166667
4     2013-01-05   6.000000   86.833333    3.700000   1016.500000
...          ...        ...         ...         ...           ...
1457  2016-12-28  17.217391   68.043478    3.547826   1015.565217
1458  2016-12-29  15.238095   87.857143    6.000000   1016.904762
1459  2016-12-30  14.095238   89.666667    6.266667   1017.904762
1460  2016-12-31  15.052632   87.000000    7.325000   1016.100000
1461  2017-01-01  10.000000  100.000000    0.000000   1016.000000

[1462 rows x 5 columns]>

In [5]:
nan_count = data.isna().sum()
print(nan_count)

date            0
meantemp        0
humidity        0
wind_speed      0
meanpressure    0
dtype: int64

In [6]:
data['date'] = pd.to_datetime(data['date'])
data['month'] = data['date'].dt.month
print(data)

           date   meantemp    humidity  wind_speed  meanpressure  month
0    2013-01-01  10.000000   84.500000    0.000000   1015.666667      1
1    2013-01-02   7.400000   92.000000    2.980000   1017.800000      1
2    2013-01-03   7.166667   87.000000    4.633333   1018.666667      1
3    2013-01-04   8.666667   71.333333    1.233333   1017.166667      1
4    2013-01-05   6.000000   86.833333    3.700000   1016.500000      1
...         ...        ...         ...         ...           ...    ...
1457 2016-12-28  17.217391   68.043478    3.547826   1015.565217     12
1458 2016-12-29  15.238095   87.857143    6.000000   1016.904762     12
1459 2016-12-30  14.095238   89.666667    6.266667   1017.904762     12
1460 2016-12-31  15.052632   87.000000    7.325000   1016.100000     12
1461 2017-01-01  10.000000  100.000000    0.000000   1016.000000      1

[1462 rows x 6 columns]

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score

In [8]:
X = data[['month','humidity','wind_speed','meanpressure']]
y = data['meantemp']

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [10]:
rf = RandomForestRegressor(n_estimators=100, random_state=42)
rf.fit(X_train, y_train)

RandomForestRegressor(random_state=42)

In [11]:
y_pred = rf.predict(X_test)

In [12]:
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

In [13]:
print(f'Mean Squared Error: {mse}')
print(f'R^2 Score: {r2}')

Mean Squared Error: 4.626010247782007
R^2 Score: 0.9139498061295817

In [14]:
import joblib
model_file_path = 'random_forest_model.pkl'

joblib.dump(rf, model_file_path)

print(f"Model saved to {model_file_path}")

Model saved to random_forest_model.pkl